# Ignore project files
.Rproj.user
.Rhistory
.RData
*.Rproj

# Ignore sensitive files
matlabFiles/
src/dbSettings.R
data/.MySCMServerInfo
.MySCMServerInfo
R/.MySCMServerinfo
data/*.tex
data/NFL_Reference.xlsx
instr/*
